.container {
  display: grid;
  place-items: center;
}
.chart-container {
  width: 100%;
  max-width: 80em; /* Optional: Set a maximum width */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Three columns */
  grid-gap: 10px; /* Gap between columns */
  margin-top: 12px;
}
.Graph {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 10px;
}

@media (max-width: 768px) {
  .chart-container {
    max-width: 400px;
  }
}
